body h1 {
  font-size: 55px;
}

body .loginBg {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.13);
}

body .loginBg .loginScreen {
  background-color: #fff;
  width: 600px;
  height: 400px;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .loginBg .loginScreen .loginwrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 1px;
}

body .loginBg .loginScreen .loginwrapper input[type="text"] {
  height: 35px;
  width: 220px;
  cursor: pointer;
}

body .loginBg .loginScreen .loginwrapper h6 {
  cursor: pointer;
}

body .loginBg .loginScreen .loginwrapper input[type="checkbox"] {
  margin-left: 15px;
  margin-right: 5px;
}

body .loginBg .loginScreen .loginwrapper button {
  background-color: rgba(0, 255, 0, 0.733);
  outline: none;
  border: 2px solid rgba(0, 255, 0, 0.733);
  color: white;
  line-height: 30px;
  margin-top: 20px;
  width: 75%;
}

body .loginBg .loginScreen .loginwrapper button:hover {
  background-color: #fff;
  border: 2px solid rgba(0, 255, 0, 0.623);
  color: rgba(0, 255, 0, 0.733);
  cursor: pointer;
}

body .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
}

body .hero-section .playgroundOuter {
  width: 50%;
}

body .hero-section .playgroundOuter .playgroundWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 240px;
  position: absolute;
  top: 40%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .hero-section .playerInfo {
  width: 50%;
  margin-top: 50px;
}

body .hero-section .playerInfo .winner {
  font-size: 42px;
  margin-top: 70px;
}
/*# sourceMappingURL=style.css.map */