body {
  h1 {
    font-size: 55px;
  }
  .loginBg {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.13);

    .loginScreen {
      background-color: #fff;
      width: 600px;
      height: 400px;
      position: absolute;
      border-radius: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .loginwrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 40px;
        font-size: 20px;
        letter-spacing: 1px;
        input[type="text"] {
          height: 35px;
          width: 220px;
          cursor: pointer;
        }
        h6 {
          cursor: pointer;
        }
        input[type="checkbox"] {
          margin-left: 15px;
          margin-right: 5px;
        }
        button {
          background-color: rgba(0, 255, 0, 0.733);
          outline: none;
          border: 2px solid rgba(0, 255, 0, 0.733);
          color: white;
          line-height: 30px;
          margin-top: 20px;
          width: 75%;
          &:hover {
            background-color: #fff;
            border: 2px solid rgba(0, 255, 0, 0.623);
            color: rgba(0, 255, 0, 0.733);
            cursor: pointer;
          }
        }
      }
    }
  }

  .hero-section {
    display: flex;
    height: 300px;

    .playgroundOuter {
      width: 50%;

      .playgroundWrapper {
        display: flex;
        flex-wrap: wrap;
        width: 240px;
        position: absolute;
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%);
      }
    }
    .playerInfo {
      width: 50%;
      margin-top: 50px;
      .winner {
        font-size: 42px;
        margin-top: 70px;
      }
    }
  }
}
